<div class="p-6">
    <h2 class="text-xl font-bold text-white mb-4">Search Results</h2>

    <div *ngIf="results.length > 0; else noResults" class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
        <div *ngFor="let track of results"
            class="bg-zinc-800 hover:bg-zinc-700 p-4 rounded-xl cursor-pointer transition" (click)="playTrack(track)"
            [class.bg-zinc-800]="track.id === player.getCurrentTrackId()">

            <img [src]="track.album.cover_medium" class="rounded mb-3 shadow" />

            <div class="text-white font-semibold truncate">{{ track.title }}</div>

            <div class="text-zinc-400 text-sm truncate">
                <a [routerLink]="['/artist', track.artist.id]" class="hover:underline">
                    {{ track.artist.name }}
                </a> •
                <a [routerLink]="['/album', track.album.id]" class="hover:underline">
                    {{ track.album.title }}
                </a>
            </div>
        </div>

    </div>

    <ng-template #noResults>
        <p class="text-zinc-500">No results found.</p>
    </ng-template>
</div>